.sidebar-chat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebar-chat:hover{
   background-color: white;

}
.sidebar-chat-info{
    margin-left: 15px;
}
.sidebar-chat-info h4{
    font-size: 16px;
    margin-bottom: 6px;
}